<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600&family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/styles.css">
    <script src="https://kit.fontawesome.com/07e225e4b9.js" crossorigin="anonymous"></script>
    <title>Document</title>
    <style>
        .hero--container {
            max-width: 500px;
            max-height: 500px;
            background-color: #0003d0d0;
            min-height: 500px;
            position: relative;
        }
        .icon {
            width: 50px; 
            height: 50px;
            margin: .5em;
            fill: var(--color--light);
        }
        .icon--desktop {
            position: absolute;
            top: 50px;
        }
    </style>
</head>
<body>
    <div class="hero--container">
        <svg class="icon">
            <use xlink:href="../images/developer.svg#chair-solid"></use>
          </svg><svg class="icon icon--desktop">
            <use xlink:href="../images/developer.svg#desktop-solid"></use>
          </svg><svg class="icon">
            <use xlink:href="../images/developer.svg#laptop-code-solid"></use>
          </svg><svg class="icon">
            <use xlink:href="../images/developer.svg#mug-saucer-solid"></use>
          </svg><svg class="icon">
            <use xlink:href="../images/developer.svg#sitemap-solid"></use>
          </svg>
    </div>
</body>
</html>